.card-container {
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    display: grid;
    margin-left: 20px;
    background-color: white;
}

.card-element{
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    border-color: gray;
    border: 100px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.item-details{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
  justify-content: center;
}
.img {
  color: black;
  width: 550px;
  height: 400px;
}

.card-element:hover {
    transform: scale(1.05);
  }